.MuiTableContainer-root {
    background: #FFF;
    margin-top: 12px;
}

.MuiTableContainer-root .MuiTableHead-root .MuiTableCell-root {
    font-weight: 800;
    font-size: 18px;
    text-transform: uppercase;
}

.MuiTableContainer-root .MuiTableBody-root .MuiTableRow-root:nth-child(odd) {
    background: #f2f2f2;
}



@media (max-width: 900px) {
    .MuiTableContainer-root .MuiTable-root {
        min-width: 120px
    }
}